/*  variables*/
:root{
    --gray-1:rgb(235, 232, 232);
    --blue-1:#5166dd;
}

/* General styles */
h1,h2,h3,h4,h5,h6,body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans Condensed', sans-serif;";
}

h1,h2{
    font-family: "lato";
}

/* Nav bar styles */
nav{
    background-color: var(--gray-1);
    padding-bottom:1em;
    padding: 2em;
    
}
nav ul{
    list-style-type: none;
    padding: 0px;
}
nav a{
    text-decoration: none;
    color: black;
}

nav li:focus{
    background-color: gray;
}
nav ul li{
    margin-top: 1em;
}

.nav-top{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    
}

.nav-top i{
    border: 1px solid gray;
    padding: 0.5em;
}

#login{
    background-color: rgb(161, 19, 19);
    padding: 0.5em 1em;
    display: inline-block;
    color: white;
    box-shadow: 0px 5px 10px gray;
}

.hide-nav{
    display: none;
}

.show-nav{
    display: block;
}

/* intro section styles */
#intro{
    margin: 2em 0px;
    padding: 0.5em 2em;
    text-align: center;
}

.hero-section{
    margin-bottom: 1em;
   
}

#hero-section-img1{
    width: 70vw;
    height: 45vw;
   /* background-color: red; */
    margin:auto;
    margin-bottom: 0px;
    position: relative;
}
#hero-section-img2{
    width: 50vw;
    height: 40vw;
/* background-color: green; */
    margin-top: -35vw;
    margin-left: 40vw;

}

#hero-section-img1 img, #hero-section-img2 img{
    width: 100%;
    width: 100%;
    object-fit: contain;
}
.intro-body{
    margin-top: 3.5em;
}

.intro-body p{
    margin-bottom: 1.5em;
}

.intro-btn-container{
    display: flex;
    justify-content: space-around;
}

.intro-btn1,.intro-btn2{
    padding: 1em 1em;
    display: inline;
    border-radius:3px;
    box-shadow: 0px 5px 5px var(--gray-1);
    cursor: pointer;
    font-size: small;
}
.intro-btn2{
    background-color: var(--gray-1);
}
.intro-btn1{
    color: white;
    background-color:var(--blue-1);
}

/* features section styles */
#features{
    padding:0em  2em;
    text-align: center;
    margin-bottom: 2em;
}

.features-link-container{
    margin-top: 3em;
    margin-bottom: 2em;
}

.features-link{
    border-top: 1px solid;
    padding: 1em;
    margin: 0px;
    cursor: pointer;
}
.features-link:hover{
    background-color: var(--gray-1);
}

#features-link-focus{
    border-bottom: 3px solid orangered;
}

#features-simple,#features-speedy,#features-easy{
    flex-direction: column;
}
.features-img1{
    
    width: 60vw;
    height:40vw;
    margin: auto;
    position: relative;
    z-index: 10;
}
.features-img2{
    transform: rotate(180deg);
    
    width: 60vw;
    height:50vw;
    margin-left: -20vw;
    margin-top: -31vw;
    padding: 0px;
}

.features-img2 img,.features-img1 img{
    width: 100%;
    height: 100%;
}
.features-body{
 margin-top: 1em;
}

.features-btn{
    padding: 0.5em 1.5em;
    display: inline-block;
    border-radius:3px;
    box-shadow: 0px 5px 5px var(--gray-1);
    cursor: pointer;
    font-size: large;
    background-color:var(--blue-1);
    color: white;
}

/* download section styles */
#downloads-section{
    padding: 2em;
    text-align: center;
}

.download-card{
    margin: 1em ;
    margin-top: 3em;
    box-shadow: 0px 5px 10px var(--gray-1);
    padding: 2em;
}

.download-card h3{
    margin-top: 1em;
}
.download-card img {
    width: 100%;
}

.download-card-btn{
    padding: 1em;
    color: white;
    background-color: var(--blue-1);
    cursor: pointer;
}

/* frquently asked question section styles */
#FAQ-section{
    padding: 2em;
    text-align: center;
}

.FAQ-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-top: 1.5em;
}
.FAQ-question h3{
    text-align: left;
    font-weight: normal;
}
.FAQ-question i{
    color: var(--blue-1);
}
.FAQ-answer{
    text-align: left;
    background-color: var(--gray-1);
}

#FAQ-answer1,#FAQ-answer2,#FAQ-answer3,#FAQ-answer4{
    display: none;
}

.FAQ-btn{
    padding: 0.5em 1em;
    color: white;
    background-color: var(--blue-1);
    cursor: pointer;
    display: inline-block;
    margin-top: 2em;
}

/* footer styles  */

.footer-tp{
    padding: 2em;
    color: white;
    background-color: var(--blue-1);
    margin: 0;
    text-align: center;
}
.footer-tp input {
    height: 2.5em;
    display: block;
    width: 70vw;
    margin: auto;
    padding: 0.2em 1em;
    border: 0px;
    border-radius: 7px;
    box-sizing: border-box;
}
.footer-tp input:focus{
    outline-color:orangered ;
}

.footer-tp button{
    border-radius: 7px;
    height: 2.5em;
    background-color: orangered;
    color: white;
    width: 70vw;
    margin-top:0.6em;
    padding:0.2 1em;
    box-shadow: none;
    cursor: pointer;
}

.footer-tp button:hover{
    background-color: rgb(236, 158, 129);
}

@media only screen and (min-width:700px){
    /* nav bar styles */
    #hamburger{
        display: none;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0em 2em;
        width: calc(80vw - 4em);
        margin: auto;
    }
    #nav-links{
        display: block;
    }
    #nav-links  ul{
        display: flex;
        align-items: center;
    }
    #nav-links li{
        margin: 0px 0.5em;
        cursor: pointer;
        
        color: gray;
        font-weight: normal;
    }
    #login{
        color: white;
    }

    #nav-links li:hover{
        color:rgb(197, 190, 190)
    }

    /* intro section styles */
    #intro {
        display: flex;
        flex-direction: row-reverse;
        width: 80vw;
        align-items: flex-start;
        justify-content: space-between;
        margin: auto;
        padding: 0px;
        margin-top: 6em;
        
    }
    .intro-body{
        width: calc(40% - 2em);
        margin-right: 2em;
        margin-top: 0px;
        text-align: left;
        height: 100%;
    }
    .intro-body h1{
        font-size: 2.5em;
    }

    .intro-btn-container{
        justify-content: flex-start;
    }
    .intro-btn1,.intro-btn2{
        padding: 0.5em 0.5em;
        box-shadow: 0px 5px  10px  gray;
        border: 1px solid gray;
    }

    .intro-btn1{
        margin-right: 1.5em;
    }
    .hero-section{
        width: calc(60% - 2em);
        
    }
    #hero-section-img1{
        width: 40vw;
        height: 30vw;
        margin: 0px;
    }

    #hero-section-img2{
        width: 40vw;
        height: 30vw;
        margin-top: 0px;
        margin-left: 0px;
        margin-top: -33vw;
        margin-left: 20vw;
    }

    /* features section styles */
    #features{
        width: 80vw;
        margin:auto;
        padding: 0px;
        margin-top: 7vw;
    }
    
    #features >h2{
        font-size: 2.5em;
    }
    #features >p {
        width: 50%;
        margin: auto;
        margin-top: 1em;
    }

    .features-link-container{
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: auto;
        margin-bottom: 2em;
    }
    .features-link{
        width: 33.3%;
        border-top: 0px;
    }

    #features-simple,#features-easy,#features-speedy{
        display: flex;
        flex-direction: row;
    }
    .features-img-container{
        width: 55%;
    }

    .features-img1{
        width: 100%;
        height: 30vw;
        margin: 0px;

    }
    .features-img2{
        width: 100%;
        height: 30vw;
        
        margin: 0px;
        margin-left: -20vw;
        margin-top: -20vw;

    }

    .features-img1 img,.features-img2 img{
        width: 100%;
        height: 100%;
    }
    .features-body{
        width: 40%;
        padding-left: 2em;
    }
    /* download secgtion styles */
    #downloads-section{
        width:80vw ;
        margin: auto;
    }

    .downloads-section-tp >h2{
        font-size: 2.5em;
    }
    .downloads-section-tp > h2,.downloads-section-tp >p{
        width: 50%;
        margin: auto;
        margin-top: 1em;
    }
    .download-card-container{
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: 2em 0px;
    }
    .download-card-right{
        margin-bottom: -2em;
    }

    .download-card-left{
        margin-top: -2em;
    }

    /* frequently asked question section styles */
    #FAQ-section{
        width: (80vw - 40%);
        margin:auto;
        padding: 0px 20%;
    }

    .FAQ-section-tp >h2{
        font-size: 2.5em;
        margin: auto;
        margin-top: 1em;
        width: 90%;
    }
   .FAQ-section-tp >p{
        width: 50%;
        margin: auto;
        margin-top: 1em;
    }

    /* footer section styles */
    .footer-tp-large{
        font-size: 2em;
    }

    footer form{
        display: flex;
        width: 50%;
        margin: auto;
        height: 3em;
        padding: 0px;
    }
   #ft-input{
        height: 100%;
        width: 70%;
        box-sizing: border-box;
    }
    #ft-btn{
        height: 100%;
        width: 25%;
        margin: 0px;
        box-sizing: border-box;
    }
}